<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-4">Disciplinas</h1>
    </div>
    <div class="col-md-auto"></div>
    <div class="col col-lg-1"></div>
  </div>
  <hr class="my-4">
  
    <table class="table table-striped table-hover table-sm">
      <thead class="thead-dark">
        <tr class="row ">
          <th scope="col" class="col">Codigo</th>
          <th scope="col" class="col-6">Nome</th>
          <th scope="col" class="col">Detalhes</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let disciplina of disciplinas" class="row" [class.selecionado]="selecionado == disciplina">
          <th class="col">{{disciplina.codigo}}</th>
          <td class="col-6">{{disciplina.nome}}</td>
          <td class="col">
            <button  (click)="selecionar(disciplina)">Detalhes</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="visivel==true" class="card" style="width: 100%; text-align: justify; padding: 10px;">
      <div class="card-body">
        <h4>Descricao por Disciplina</h4>
        <h5 class="card-title">Nome: {{disciplina.nome}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Codigo: {{disciplina.codigo}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Professor: {{disciplina.professor.nome}}</h6>
        <p class="card-text">Descricao: {{disciplina.descricao}}</p>
        <button (click)="limpar()">Limpar</button>
      </div>
    </div>
</div>